*~
*.cmi
*.cmo
*.cmx
*.o
.DS_Store
.qmake.stash
Info.plist
*.json
_build/
json_to_verilog
json_to_verilog.dSYM/
json_verilog_lexer.mll
json_verilog
json_verilog_top
json_struct_top
json_yosys_top
obj_dir/
old/
results/
slpp_all/
sysver_tests/*.v
testcase2.sv
test_results/
